body {
  font-family: Arial, sans-serif;
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
	background-image: url("icons/rain.jpg");
	background-size: cover; 
	background-position: center;
	background-repeat: no-rapeat; 
	background-attachment: fixed;
	}
	
	h1 {
		color: #ffd700;
		}

.app {
	background: rgba(255, 255, 255, 0.9)
  background: white;
  padding: 20px;
  border-radius: 1rem
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
  text-align: center;
  width: 300%
  max-width: 400px; 
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  width: 100%;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #005fd1;
}

#message {
  margin-top: 10px;
}

img {
  margin-top: 10px;
}

#toggleUnit {
	display: none;
	hight: 100px; 
	width: 100px; 
	background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
	}
	
	.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

